<h1>Transactions</h1>
<div [hidden]="!authenticated()">
  <div fxLayout fxLayoutAlign="center center">
    <mat-form-field fxFlex="40%">
      <input matInput [ngModel]="globalFilter" (ngModelChange)="applyFilter($event)" placeholder="Filter">
    </mat-form-field>
  </div>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="accountNumber">
      <th mat-header-cell *matHeaderCellDef> Account Number
        <div>
          <mat-form-field>
            <input matInput class="form-field" [formControl]="accountNumberFilter" placeholder="Account Number Filter">
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.accountNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="trxAmount">
      <th mat-header-cell *matHeaderCellDef> Transaction Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.trxAmount}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description
        <div>
          <mat-form-field>
            <input matInput class="form-field" [formControl]="descriptionFilter" placeholder="Description Filter">
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="trxDate">
      <th mat-header-cell *matHeaderCellDef> Transaction Date </th>
      <td mat-cell *matCellDef="let element"> {{element.trxDate}} </td>
    </ng-container>

    <ng-container matColumnDef="trxTime">
      <th mat-header-cell *matHeaderCellDef> Transaction Time </th>
      <td mat-cell *matCellDef="let element"> {{element.trxTime}} </td>
    </ng-container>

    <ng-container matColumnDef="customerId">
      <th mat-header-cell *matHeaderCellDef> Customer ID
        <div>
          <mat-form-field>
            <input matInput class="form-field" [formControl]="customerIdFilter" placeholder="Customer ID Filter">
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.customerId}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
</div>
<div [hidden]="authenticated()">
  <p>You do not have access to this page. Please try another page, if you are needed to access this page,
    please seek an administrator to grant you access. </p>
</div>
